@model BlogDetailViewModel
@{
    ViewData["Title"] = "The Golb";
    ViewData["MetaDescription"] = "Category detail";
}
<section id="content">
    <article class="post post-detail noselect" itemscope="">
        <h1 itemprop="name">@Model.Blog.Name</h1>

        <div class="post-body" itemprop="articleBody">
            @Html.Raw(Model.Blog.Content)
            <div>
                Tag:
                @foreach (var tag in Model.Tags)
                {
                    <a asp-controller="Tag" asp-action="Detail" asp-route-tagId="@tag.Id">@tag.Name</a><text>, </text>
                }

            </div>
            <div>
                Category:
                <a asp-controller="Category" asp-action="Detail" asp-route-categoryId="@Model.Category.Id">@Model.Category.Name</a>,
            </div>
        </div>
    </article>


    <ul class="related_posts">
        @foreach (var blog in Model.RelatedBlogs)
        {
            <li>
                <a asp-controller="Post" asp-action="Detail" asp-route-blogId="@blog.Id">
                    @if (string.IsNullOrEmpty(blog.Image))
                    {
                        <img src="~/client-side/images/thumbnail_default.png" alt="@blog.Name">
                    }
                    else
                    {
                        <img src="@blog.Image" alt="@blog.Name">
                    }
                </a>
                <h3><a asp-controller="Post" asp-action="Detail" asp-route-blogId="@blog.Id" title="@blog.Name">@blog.Name</a></h3>
            </li>
        }
    </ul>
</section>