@model HomeViewModel
@{
    ViewData["Title"] = "The Golb";
    ViewData["MetaDescription"] = "All blog post";
}

<div id="jumbotron">
    <h1><a href="#">Lập trình cuộc sống</a></h1>
    <h2>Chỉ là blog của một thằng coder</h2>
    <nav id="categories">
        <ul>
            @*<li><a asp-controller="Category" asp-action="Index">Video trên youtube</a></li>*@
            @foreach (var cat in Model.Categoris)
            {
                <li><a asp-controller="Category" asp-action="Detail" asp-route-categoryId="@cat.Id">@cat.Name</a></li>
            }
        </ul>
    </nav>
</div>

<section id="content">
    @foreach (var blog in Model.Blogs)
    {
    <article class="post" itemscope="" itemtype="http://schema.org/Article">
        <h1 itemprop="name"><a itemprop="url" asp-controller="Post" asp-action="Detail" asp-route-blogId="@blog.Id">@blog.Name</a></h1>

        @if (string.IsNullOrEmpty(blog.Image))
        {
            <a asp-controller="Post" asp-action="Detail" asp-route-blogId="@blog.Id"><img itemprop="image" src="~/client-side/images/thumbnail_default.png" title="@blog.Name" alt="@blog.Name" class="post_thumbnail"></a>
        }
        else
        {
            <a asp-controller="Post" asp-action="Detail" asp-route-blogId="@blog.Id"><img itemprop="image" src="@blog.Image" title="@blog.Name" alt="@blog.Name" class="post_thumbnail"></a>
        }

        <div class="excerpt" itemprop="description">
            @Html.Raw(blog.Description)
        </div>
        <div class="clear"></div>
    </article>
    }

    @*<div class="pagination">
        <em>1</em>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">»</a>
        <div class="clear"></div>
    </div>*@
</section>
