@model CategoryDetailViewModel
@{
    ViewData["Title"] = "The Golb";
    ViewData["MetaDescription"] = "Category detail";
}

<section id="content">
    <div id="index">
        <div class="category_detail">
            <h1>@Model.Category.Name</h1>
            <p>@Html.Raw(Model.Category.Description)</p>
        </div>

        @foreach (var blog in Model.Blogs)
        {
            <article class="post" itemscope="">
                <h1 itemprop="name"><a itemprop="url" asp-controller="Post" asp-action="Detail" asp-route-blogId="@blog.Id" title="@blog.Name">@blog.Name</a></h1>

                <a asp-controller="Post" asp-action="Detail" asp-route-blogId="@blog.Id">
                    @if (string.IsNullOrEmpty(blog.Image))
                    {
                        <img itemprop="image" src="~/client-side/images/thumbnail_default.png" alt="@blog.Name" class="post_thumbnail">
                    }
                    else
                    {
                        <img itemprop="image" src="@blog.Image" alt="@blog.Name" class="post_thumbnail">
                    }

                </a>

                <div class="excerpt" itemprop="description">
                    @blog.Description
                </div>
                <div class="clear"></div>
            </article>
        }
    </div>
</section>